import { Component, OnInit } from '@angular/core';
import { Validators, FormBuilder, FormGroup } from '@angular/forms';
import { ActivatedRoute, Router } from '@angular/router';
import { ServiceGenerated } from '../appGenerated.service';

@Component({
  selector: 'app-{{model.name}}-add',
  templateUrl: './{{model.name}}Generated.html',
  styleUrls: []
})
export class Add{{model.name}}GeneratedComponent implements OnInit {

  {{model.name}}:FormGroup;
  
  {% for p in model.properties %}
    {% if p.primitive != True %}
        {{p.name}}: any[]
    {% endif %}
  {% endfor %}
  submitted = false;
  data: any;

  constructor(
    public service : ServiceGenerated,
    public formBuilder : FormBuilder,
    public router : Router,
    public activatedRoute : ActivatedRoute) {
      this.{{model.name}} = this.formBuilder.group({
      {% for p in model.properties %}
        {% if p.primitive == True %}
          {{p.name}} :['',Validators.required],
        {% else %}
          {{p.name}} :[,Validators.required],
        {% endif %}
      {% endfor %}
      });

       {% for p in model.properties %}
        {% if p.primitive != True %}
            this.service.get{{p.type.name}}All().subscribe(
              data => {
                this.{{p.name}} = data
              }
            );
        {% endif %}
      {% endfor %}
     }

  ngOnInit() {
  }

  get f() { return this.{{model.name}}.controls; }

  onSubmit(event:any) {
    this.submitted = true;
    this.data = this.{{model.name}}.getRawValue();
    {% for p in model.properties %} 
      {% if p.primitive != True and (p.isArray or p.isSet) %}
      if( this.data.{{p.name}} != -1){
        if (this.data.{{p.name}} instanceof Array && this.data.{{p.name}}){
          var ids= this.data.{{p.name}};
          this.data.{{p.name}} = new Array();
          this.{{p.name}}.forEach(zan => {
            ids.forEach(id => {
              if(zan.id == id){
                this.data.{{p.name}}.push(zan.id);
              }
            });
          });
        }else if(this.data.{{p.name}}){
          var ids = this.data.{{p.name}};
          this.data.{{p.name}} = new Array();
          this.data.{{p.name}}.push(ids);
        }
      }else{
        this.data.{{p.name}} = null;
      }
      {% else %}
      if( this.data.{{p.name}} != -1){

      }else{
        this.data.{{p.name}} = null;
      }
      {% endif %}
    {% endfor %}

    console.log(this.data)
    this.service.add{{model.name}}(this.data).subscribe(
      data => {
    });
  }

}
