import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';
import { AppRoutingModule } from './app-routing.module';
import { AppComponent } from './app.component';
import { FormGroup, ReactiveFormsModule } from '@angular/forms';
import { HttpClientModule } from '@angular/common/http';

//Components import  for model in models:
import { HomeComponent } from './home/Home';
'./generated/radnomesto-generated/RadnoMestoGenerated';
{% for model in models %}
import { Add{{model.name}}Component } from './{{model.name}}/{{model.name}}';
import { Add{{model.name}}GeneratedComponent } from './generated/{{model.name.lower()}}-generated/{{model.name}}Generated';
import { {{model.name}}PreviewComponent } from './{{model.name}}/{{model.name}}Preview';
// import { {{model.name}}EditComponent } from './{{model.name}}/{{model.name}}Edit';
{% endfor %}

@NgModule({
  declarations: [
    AppComponent,
    HomeComponent,
    {% for model in models %}
      Add{{model.name}}Component,
      Add{{model.name}}GeneratedComponent,
      {{model.name}}PreviewComponent,
      // {{model.name}}EditComponent,
    {% endfor %}
  ],
  imports: [
    BrowserModule,
    AppRoutingModule,
    ReactiveFormsModule,
    HttpClientModule,
  ],
  providers: [],
  bootstrap: [AppComponent]
})
export class AppModule { }
