import { NgModule } from '@angular/core';
import { Routes, RouterModule } from '@angular/router';
// Components import  for model in models:
import { HomeComponent } from './home/Home';
{% for model in models %}
import { Add{{model.name}}Component } from './{{model.name}}/{{model.name}}';
import { {{model.name}}PreviewComponent } from './{{model.name}}/{{model.name}}Preview';
import { {{model.name}}EditComponent } from './{{model.name}}/{{model.name}}Edit';

{% endfor %}

const routes: Routes = [
  {
    path: '',
    component: HomeComponent
  },
  {% for model in models %}
    {
      path: '{{model.name}}',
      component: Add{{model.name}}Component
    },
    {
      path: '{{model.name}}Preview',
      component: {{model.name}}PreviewComponent
    },
    {
      path: '{{model.name}}Edit/:{{model.name}}Id',
      component: {{model.name}}EditComponent
    },
  {% endfor %}
];

@NgModule({
  imports: [RouterModule.forRoot(routes)],
  exports: [RouterModule]
})
export class AppRoutingModule { }
