import { Component, OnInit } from '@angular/core';
import { Validators, FormBuilder, FormGroup } from '@angular/forms';
import { ActivatedRoute, Router } from '@angular/router';
import { Service } from '../app.service';

@Component({
  selector: 'app-{{model.name}}-edit',
  templateUrl: './Edit{{model.name}}.component.html',
  styleUrls: []
})
export class Edit{{model.name}}Component implements OnInit {

  {{model.name}}:FormGroup;
  submitted = false;
  data: any;
  id:number;
  

  constructor(
    private service : Service,
    private formBuilder : FormBuilder,
    private router : Router,
    private activatedRoute : ActivatedRoute) { }

  ngOnInit() {
  
  	  this.activatedRoute.params.subscribe(params =>{
      this.id = params.{{model.name}}Id;
      });
  	  	
      this.{{model.name}} = this.formBuilder.group({
       <#list properties as property>
         <#if property.type.name == "String" >
         	${property.name} :['',Validators.required],
	     <#elseif property.type.name == "Boolean" >
	     	${property.name} :['',Validators.required],
	     <#elseif property.type.name == "double" || property.type == "Integer">
	     	${property.name} :['',Validators.required],
	     <#elseif property.type.name == "date" >  
	     	${property.name} :['',Validators.required],
	     <#elseif property.type.name == "NotificationType" >
	     	${property.name} :['',Validators.required],
	     <#elseif property.type.name == "Visibility" >  
	     	${property.name} :['',Validators.required],
	     <#elseif property.type.name == "FriendshipRequestStatus" >  
	     	${property.name} :['',Validators.required],
	     <#elseif property.type.name == "ActivityRequestStatus" >  
	     	${property.name} :['',Validators.required],
	     </#if>   
       </#list>
      });
      
      this.service.get{{model.name}}ById(this.id).subscribe(
      data => {
        this.data = data
        this.setValues();
      }
    );
  }

  setValues(){
    {% for n in range(model.property['prop_name'] | length) %}
      this.{{model.name}}.controls.{{}}
    {% endfor %}
   <#list properties as property>
   		 <#if property.type.name == "String" >
         	this.{{model.name}}.controls.${property.name}.setValue(this.data.${property.name});
	     <#elseif property.type.name == "Boolean" >
	     	this.{{model.name}}.controls.${property.name}.setValue(this.data.${property.name});
	     <#elseif property.type.name == "double" || property.type == "Integer">
	     	this.{{model.name}}.controls.${property.name}.setValue(this.data.${property.name});
	     <#elseif property.type.name == "date" >  
	     	this.${class.name}.controls.${property.name}.setValue(this.data.${property.name});
	     <#elseif property.type.name == "NotificationType" >
	     	this.${class.name}.controls.${property.name}.setValue(this.data.${property.name});
	     <#elseif property.type.name == "Visibility" >  
	     	this.${class.name}.controls.${property.name}.setValue(this.data.${property.name});
	     <#elseif property.type.name == "FriendshipRequestStatus" >  
	     	this.${class.name}.controls.${property.name}.setValue(this.data.${property.name});
	     <#elseif property.type.name == "ActivityRequestStatus" >  
	     	this.${class.name}.controls.${property.name}.setValue(this.data.${property.name});
	     </#if>   
     
   </#list>    
  }

  get f() { return this.${class.name}.controls; }

  onSubmit(event:any) {
    this.submitted = true;
    this.data = this.${class.name}.getRawValue();
    console.log(this.data)
    this.service.edit${class.name}(this.data,this.id).subscribe(
      data => {
    });
  }

}