import { Component, OnInit } from '@angular/core';
import { Validators, FormBuilder, FormGroup } from '@angular/forms';
import { ActivatedRoute, Router } from '@angular/router';
import { Service } from '../app.service';
import { {{model.name}}EditGeneratedComponent } from '../generated/{{model.name.lower()}}-generated/{{model.name}}EditGenerated';

@Component({
  selector: 'app-{{model.name}}-edit',
  templateUrl: '../generated/{{model.name.lower()}}-generated/{{model.name}}EditGenerated.html',
  styleUrls: []
})
export class {{model.name}}EditComponent extends {{model.name}}EditGeneratedComponent implements OnInit {

  constructor(
    public service : Service,
    public formBuilder : FormBuilder,
    public router : Router,
    public activatedRoute : ActivatedRoute
  ) { 
    super(service, formBuilder, router, activatedRoute);
  }

  ngOnInit() {

  }

}
