import { Component, OnInit } from '@angular/core';
import { HomeGeneratedComponent } from '../generated/home-generated/HomeGenerated';

@Component({
  selector: 'app-Home',
  templateUrl: '../generated/home-generated/HomeGenerated.html',
  styleUrls: []
})
export class HomeComponent extends HomeGeneratedComponent implements OnInit {

  constructor() {
    super();
   }

  ngOnInit() {
  }

}
