import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-Home',
  templateUrl: './HomeGenerated.html',
  styleUrls: []
})
export class HomeGeneratedComponent implements OnInit {

  constructor() { }

  ngOnInit() {
  }

}
