import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-Home',
  templateUrl: './Home.html',
  styleUrls: []
})
export class HomeComponent implements OnInit {

  constructor() { }

  ngOnInit() {
  }

}
