package com.example.demo.model;
import javax.persistence.*;
import java.util.*;

@Entity
public class {{model.name[0]|upper}}{{model.name[1:]}}  {


    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    @Column(name = "id")
    private Long id;

        {%if model.properties%}
            {% for p in model.properties %}
    {{p.annotation}}
               {% if p.objectType %}
                    {%if p.isArray%}
    private List<{{p.type.name}}> {{p.name}} = new ArrayList<{{p.type.name | javatype}}>();

                    {%elif p.isSet%}
    private Set<{{p.type.name}}> {{p.name}} = new HashSet<{{p.type.name | javatype}}>();

                    {%endif%}
                {% else %}
    private {{p.type.name | javatype}} {{p.name}};

                {% endif %}
            {% endfor %}
        {%endif%}


    public {{model.name}}(){}

    public Long getId() {
        return id;
    }

    public void setId(Long id) {
        this.id = id;
    }

    {%if model.properties%}
    {%for p in model.properties%}
    public {%if p.objectType%}{%if p.isArray%}List<{{p.type.name | javatype}}>{%elif p.isSet%}Set<{{p.type.name}}>{%endif%}{%else%}{{p.type.name | javatype}}{%endif%} get{{p.name[0]|upper}}{{p.name[1:]}}(){
        return this.{{p.name}};
    }
    
    public void set{{p.name[0]|upper}}{{p.name[1:] }}({%if p.objectType%}{%if p.isArray%}List<{{p.type.name}}> {{p.name}}{%elif p.isSet%}Set<{{p.type.name}}> {{p.name}}{%endif%}{%else%}{{p.type.name | javatype}} {{p.name}}{%endif%}){
        this.{{p.name}} = {{p.name}};
    }

    {%endfor%}
    {%endif%}


}
