package com.example.demo.service;

import com.example.demo.model.{{model.name}};
import java.util.List;

public interface I{{model.name}}Service {
    {{model.name}}DTO save({{model.name}}DTO {{model.name.lower()}}DTO);
    List<{{model.name}}DTO> findAll();
    {{model.name}}DTO findById(long id);
    {{model.name}}DTO update(long id, {{model.name}}DTO {{model.name.lower()}}DTO);
    void remove(long id);
}