import javax.persistence.*;

@Entity
public class {{model.name}} {%if model.extends['model']%}extends {{model.extends['model']}}{%endif%} {%if model.implements.value%} implements {%for n in range(model.implements.value | length)%}{% if (n+1) != model.implements.value| length %} {{model.implements.value[n]}},{%else%} {{model.implements.value[n]}}{%endif%}{%endfor%}{%endif%} {


    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    @Column(name = "id")
    private Long id;

        {%if model.properties%}
            {% for p in model.properties %}
               {% if p.objectType %}

    {%if p.annotiation and p.primitive != True%}
    {{p.annotiation}}
    {%endif%}
    {%if p.isArray%}
    {{p.type.name}}[] {{p.name}};
    {%else%}
    {{p.objectType}}<{{p.type.name}}> {{p.name}} = new {{p.objectType}}<{{p.type.name | javatype}}>();
    {%endif%}
            {% else %}

    {%if p.annotiation and p.primitive != True%}
    {{p.annotiation}}
    {%else%}
    @Column
    {%endif%}
    {{p.type.name | javatype}} {{p.name}};
                {% endif %}
            {% endfor %}
            {%endif%}

    {%if model.properties%}
    public {{model.name}}({% for n in range(model.properties| length) %}{% if model.properties[n].objectType %}{{model.properties[n].objectType}}<{{model.properties[n].type.name}}>{%else%}{{model.properties[n].type.name| javatype}}{%endif%} {% if (n+1) != model.properties| length %} {{model.properties[n].name}},{%else%} {{model.properties[n].name}}{%endif%}{% endfor %}){
        {%for p in model.properties%}
        this.{{p.name}} = {{p.name}};
        {%endfor%}
    }

    public {{model.name}}(){}
  
        {% else %}
    public {{model.name}}(){}
        {% endif %}

    {%if model.properties%}
    {%for p in model.properties%}
    public get{{p.name[0]|upper}}{{p.name[1:] }}(){
        return this.{{p.name}};
    }
    
    public set{{p.name[0]|upper}}{{p.name[1:] }}({% if p.objectType %}{{p.objectType}}<{{p.type.name}}>{%else%}{{p.type.name| javatype}}{%endif%} {{p.name}}){
        this.{{p.name}} = {{p.name}};
    }
    {%endfor%}
    {%endif%}

}
