
{# note: JUST FOR TESTING, DELETE THIS COMMENT
    public class {{model.name}} {

            
            {% for n in range(model.property['prop_name'] | length) %}
                {{model.property['annotiation'][0]}}
                private {{model.property['objectType'][n]}} {{model.property['type'][n]}} {{model.property['prop_name'][n]}};
            {% endfor %}


        {% for method in model.controller.value['value']%}
                {{ method }}
            {% endfor %}

    }
#}
