
public class {{model.name}} {

        
    {% for n in range(model.property['prop_name_model'] | length) %}
        {{model.property['prop_name_model_annotation'][n]}}
        private {{model.property['prop_name_object_type'][n]}} {{model.property['prop_name_type'][n]}} {{model.property['prop_name_model'][n]}};
    
    {% endfor %}
    {% for n in range(model.property['prop_name'] | length) %}
        private {{model.property['prop_name_object_type'][n]}} {{model.property['prop_name_type'][n]}} {{model.property['prop_name'][n]}};
    
    {% endfor %}


    {% for method in model.controller.value['value']%}
        {{ method }}
    {% endfor %}

}

