package com.example.demo.controller;

import com.example.demo.model.*;
import com.example.demo.service.I{{model.name}}Service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.HttpStatus;
import org.springframework.http.MediaType;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.*;
import java.util.List;

@CrossOrigin("http://localhost:4200")
@RestController
@RequestMapping(value = "/{{model.name.lower()}}")
public class {{model.name}}Controller extends {{model.name}}GeneratedController{

}