package com.example.demo.service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.data.domain.*;
import org.springframework.stereotype.Service;

import com.example.demo.generated.service.{{model.name}}GeneratedService;
import com.example.demo.model.*;
import com.example.demo.dto.*;
import com.example.demo.service.*;
import com.example.demo.repository.*;


import java.util.*;

@Service
public class {{model.name}}Service extends {{model.name}}GeneratedService implements I{{model.name}}Service  {
    @Autowired
    private {{model.name}}Repository {{model.name.lower()}}Repository;

}
