package com.example.demo.service;

import com.example.demo.model.{{model.name}};
import com.example.demo.generated.service.I{{model.name}}GeneratedService;
import java.util.List;

public interface I{{model.name}}Service extends I{{model.name}}GeneratedService{

}
