package com.example.demo.repository;
import com.example.demo.model.{{model.name}};

import org.springframework.data.jpa.repository.JpaRepository;
import java.util.List;
import java.util.Optional;
import org.springframework.stereotype.Repository;

@Repository
public interface {{model.name[0]|upper}}{{model.name[1:] }}Repository extends JpaRepository<{{model.name[0]|upper}}{{model.name[1:] }}, Long>, {{model.name[0]|upper}}{{model.name[1:] }}GeneratedRepository{

}
