import { Injectable } from '@angular/core';
import { HttpClient, HttpParams } from '@angular/common/http';
import { Observable } from 'rxjs';
import { ServiceGenerated } from './generated/appGenerated.service';

const SERVER_URL = 'http://localhost:8081/';

@Injectable({
  providedIn: 'root'
})
export class Service extends ServiceGenerated{
    
    constructor(public http:HttpClient){
      super(http);
    }

}
