package com.example.demo.dto;

import java.util.*;

public class TransferDTO {

    public List<Long> wantedIds =  new ArrayList<Long>();

    public TransferDTO(){}

    public List<Long> getWantedIds() {
        return wantedIds;
    }

    public void setWantedIds(List<Long> wantedIds) {
        this.wantedIds = wantedIds;
    }
}
